<div *ngIf="expense" class="row">
  <div class="col-md-12">
    <h2 *ngIf="expense._id">Expense Details</h2>
    <h2 *ngIf="!expense._id">New EXpense</h2>
  </div>
</div>
<div *ngIf="expense" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="expense-date">Date</label>
      <input class="form-control" name="expense-date" [(ngModel)]="expense.date" placeholder="Date"/>
    </div>
    <div class="form-group">
      <label for="expense-amount">Amount</label>
      <input currencyMask class="form-control" name="expense-amount" [(ngModel)]="expense.amount" placeholder="Amount"/>
    </div>
    <button class="btn btn-primary" *ngIf="!expense._id" (click)="createExpense(expense)">Create</button>
    <button class="btn btn-info" *ngIf="expense._id" (click)="updateExpense(expense)">Update</button>
    <button class="btn btn-danger" *ngIf="expense._id" (click)="deleteExpense(expense._id)">Delete</button>
  </form>
</div>
